@page
@model WebApplication3.Pages.RegisterModel
@{
    string passwordRegexPattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$";
}


<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register </h1>

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.FirstName">First Name</label>
                    <input type="text" asp-for="RModel.FirstName" class="form-control" />
                    <span asp-validation-for="RModel.FirstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.LastName">Last Name</label>
                    <input type="text" asp-for="RModel.LastName" class="form-control" />
                    <span asp-validation-for="RModel.LastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.CreditCardNo">Credit Card No</label>
                    <input type="text" asp-for="RModel.CreditCardNo" class="form-control" />
                    <span asp-validation-for="RModel.CreditCardNo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.MobileNo">Mobile No</label>
                    <input type="text" asp-for="RModel.MobileNo" class="form-control" />
                    <span asp-validation-for="RModel.MobileNo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.BillingAddress">Billing Address</label>
                    <input type="text" asp-for="RModel.BillingAddress" class="form-control" />
                    <span asp-validation-for="RModel.BillingAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ShippingAddress">Shipping Address</label>
                    <input type="text" asp-for="RModel.ShippingAddress" class="form-control" />
                    <span asp-validation-for="RModel.ShippingAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validaton-for="RModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="password" asp-for="RModel.Password" onkeyup="checkPasswordStrength()" class="form-control">
                    <div id="passwordFeedback"></div>
					<span asp-validaton-for="RModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Photo">Photo</label>
                    <input type="file" asp-for="RModel.Photo" class="form-control" />
                    <span asp-validation-for="RModel.Photo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkPasswordStrength() {
        var password = document.getElementById('passwordInput').value;
        var passwordRegex = new RegExp('@passwordRegexPattern');

        var isValid = passwordRegex.test(password);

        var feedbackElement = document.getElementById('passwordFeedback');
        if (isValid) {
            feedbackElement.innerText = 'Password is strong';
            feedbackElement.style.color = 'green';
        } else {
            feedbackElement.innerText = 'Password does not meet requirements';
            feedbackElement.style.color = 'red';
        }
    }
</script>