@page
@model WebApplication3.Pages.Errors._403Model
@{
    ViewData["title"] = "Forbidden";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">Forbidden</p>
    <p>Sorry, you don't have permission to access this resource.</p>
    <p>Please navigate back to <a href="https://localhost:44358/login?ReturnUrl=%2F">Bookworms Online</a></p>
</div>
