@page
@model WebApplication3.Pages.Errors._405Model
@{
    ViewData["title"] = "Method not allowed";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">405</h1>
    <p style="font-size: 50px; ">Method Not Allowed</p>
    <p>The request method is not allowed for the requested resource.</p>
    <p>Please navigate back to <a href="https://localhost:44358/login?ReturnUrl=%2F">Bookworms Online</a></p>
</div>
