@page
@model WebApplication3.Pages.Errors._406Model
@{
    ViewData["title"] = "Not Acceptable";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">406</h1>
    <p style="font-size: 50px; ">Not Acceptable</p>
    <p>The server cannot generate a response that is acceptable to the client.</p>
    <p>Please navigate back to <a href="https://localhost:44358/login?ReturnUrl=%2F">Bookworms Online</a></p>
</div>
