@page
@model WebApplication3.Pages.Errors._409Model
@{
    ViewData["title"] = "Conflict";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">409</h1>
    <p style="font-size: 50px; ">Request conflict</p>
    <p>The request conflicts with the current state of the server.</p>
    <p>Please navigate back to <a href="https://localhost:44358/login?ReturnUrl=%2F">Bookworms Online</a></p>
</div>
