@page
@model WebApplication3.Pages.Errors._429Model
@{
    ViewData["title"] = "Too Many Requests";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">429</h1>
    <p style="font-size: 50px; ">Too many requests</p>
    <p>The client has sent too many requests to the server in a given amount of time.</p>
    <p>Please navigate back to <a href="https://localhost:44358/login?ReturnUrl=%2F">Bookworms Online</a></p>
</div>
